{% extends 'base.html' %}

{% block title %}
About | E-Commerce Heaven
{% endblock %}

{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About E-Commerce Heaven</h1>
                <p class="lead fw-normal text-white-50 mb-0"><i>' The most popular online market in the World! Probably. '</i><br> William Shakespeare</p>
            </div>
        </div>
    </header>
    
    <br><br>
    
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">
                        Shakespeare was born and raised in Stratford-upon-Avon, Warwickshire. At the age of 18, he married Anne Hathaway, with whom he had three children: Susanna, and twins Hamnet and Judith. Sometime between 1585 and 1592, he began a successful career in London as an actor, writer, and part-owner ("sharer") of a playing company called the Lord Chamberlain's Men, later known as the King's Men after the ascension of King James VI of Scotland to the English throne. At age 49 (around 1613), he appears to have retired to Stratford, where he died three years later. Few records of Shakespeare's private life survive; this has stimulated considerable speculation about such matters as his physical appearance, his sexuality, his religious beliefs, and even certain fringe theories as to whether the works attributed to him were written by others.
                        <br><br>
                        Shakespeare produced most of his known works between 1589 and 1613. His early plays were primarily comedies and histories and are regarded as some of the best works produced in these genres. He then wrote mainly tragedies until 1608, among them Romeo and Juliet, Hamlet, Othello, King Lear, and Macbeth, all considered to be among the finest works in the English language. In the last phase of his life, he wrote tragicomedies (also known as romances) such as The Winter's Tale and The Tempest and collaborated with other playwrights.
                        <br><br>
                        Many of Shakespeare's plays were published in editions of varying quality and accuracy during his lifetime. However, in 1623, John Heminges and Henry Condell, two fellow actors and friends of Shakespeare's, published a more definitive text known as the First Folio, a posthumous collected edition of Shakespeare's dramatic works that includes 36 of his plays. Its Preface was a prescient poem by Ben Jonson, a former rival of Shakespeare, that hailed Shakespeare with the now famous epithet: "not of an age, but for all time".    
                    </p>
                </div>
            </center>
        </div>    
    </div>

    <br><br>

{% endblock %}