{% extends 'base.html' %}

{% block title %}
About | E-Commerce Heaven
{% endblock %}

{% block content %}

<div class="container">
    <br><br>

    <div class="card mb-3 p-5">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body px-5">
                
                    <h4 class="card-title mb-4">{{ product.name }}</h4>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><small class="text-body-secondary">{{ product.category }}</small></p>
                    <p class="card-text">
                        {% if product.is_sale %}
                        <b>$ {{product.sale_price}}</b>&nbsp;&nbsp;<strike>$ {{product.price}}</strike>
                        {% else %}
                            $ {{product.price}}
                        {% endif %}
                        <br><br>
                        <p><small class="text-body-secondary"><i>ID: {{product.id}}</i></small></p>
                    </p>

                    <a href="{% url 'home' %}" class="btn btn-outline-secondary mt-auto px-3">Home</a>
                    <button type="button" value="{{product.id}}" id="add-to-cart" class="btn btn-outline-success mx-3 px-3">
                        <i class="bi-cart-fill me-1"></i> Add to Cart</button>

                </div>
            </div>
        </div>
    </div> 
</div>

<br><br>

<script>
    //check if button pressed
$(document).on('click', '#add-to-cart', function(add_cart){
    add_cart.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_add' %}',
        data:{
            product_id: $('#add-to-cart').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json){
            console.log(json)
        },
        error: function(xhr,errmsg,err){
        }
    });
})
</script>


{% endblock %}